.app-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 15px 5px 23px;
    color: white;
    background-color: #ff5d83;

    a{
        margin-left: 20px;
        color: white;
        cursor: pointer;
    }

    h3{
        font-size: 1.6rem;
        font-family: Lobster;
    }

    .navbar{
        display: flex;
    }

    .logout-section{

        display: flex;
        align-items: center;


        .cart-btn{
            width: 22px;
            filter:invert(1);
            cursor: pointer;
            margin-left: 10px;
            outline: none;
        }

        p{
            width: 19px;
            text-align: center;
            height: 19px;
            line-height: 18px;
            border-radius: 50%;
            font-size: 14px;
            background-color: white;
            color: #ff5d83;
            top: 2px;
            right: 4px;
            position: absolute;
        }
    }

}