<section class="app-header">
    <h3>Toykei</h3>
    <nav class="navbar">
        <a routerLink="/">Home</a>
        <a routerLink="/toy">Toys</a>
        <div *ngIf="loggedInUser$ | async; let user; else noUser" class="logout-section">
            <a (click)="onLogout()" >Logout</a>
            <img routerLink="/cart" class="cart-btn" src="../../../assets/img/cart.png" alt="">
            <p *ngIf="user.cart.length">{{user.cart.length}}</p>
            <!-- <p class="sum-wishList" *ngIf="user.wishList.length">{{user.wishList.length}}</p> -->
        </div>
        <ng-template #noUser>
            <a routerLink="/singup">Singup</a>
        </ng-template>
    </nav>
</section>
<wish-list-modal *ngIf="loggedInUser$ | async" [user]="loggedInUser$ | async" 
(onRemoveToy)="onRemoveToy($event)" (addToCart)="addToCart($event)"></wish-list-modal>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>