.singup-container{
    padding: 15px;
    text-align: center;

    h3{
        span{
            font-family: Lobster;
        }

        margin-bottom: 5px;
    }

    .signup-btn{
        margin: 10px auto;
    }

    img{
        width: 500px;
        margin-left: 39%;
    }
}