.cart-details{
    min-height: 70vh;
    padding: 15px 35px 15px 92px;
    max-width: 930px;

    .user-cart{
        display: flex;
        justify-content: space-between;
    }

    h4{
        margin-bottom: 20px;
    }

    .cart-sum{
        display: flex;
        align-items: baseline;

        p{
            margin-right:10px;
        }

        h5{
            margin-right: 10px;
        }
    }
}