.home-page{

    // height: 90vh;
    padding: 15px;
    text-align: center;

    h1{
        margin-bottom: 15px;
        span{
            font-family: Lobster;
        }
    }

    h3{
        margin-bottom: 15px;
    }

    p{
        width: 570px;
        margin: 10px auto 20px;
    }

    img{
        width: 350px;
    }
}