<div class="toy-details-box" *ngIf="toy">
    <section class="toy-details">
        <button (click)="onBack()" class="back-btn">Back</button>
        <img [src]="toy.img" alt="">
        <div class="toy-desc">
            <h3>{{toy.name}}</h3>
            <p>Description: {{toy.description}}</p>
            <p>price: {{toy.price | currency}}</p>
            <p>in Stock? {{toy.inStock? 'Yes': 'No'}}</p>
            <div class="btns">
                <button class="cta-btn" (click)="onAddToCart(toy)" >Add to cart</button>
                <img placement="top" ngbTooltip="Add to wish list" (click)="onAddToWishList(toy)" 
                *ngIf="!isInWishList" class="heart"
                    src="https://res.cloudinary.com/basimgs/image/upload/v1612376637/heart_ujzqqz.png" alt="">
                <img class="heart" *ngIf="isInWishList" ngbTooltip="Remove from wish list"
                    (click)="removeFromWishList(toy.id)"
                    src="https://res.cloudinary.com/basimgs/image/upload/v1612376637/heart_1_odahts.png" alt="">
                <button class="edit-btn" [routerLink]="['/toy/edit',toy.id]">Edit</button>
            </div>
        </div>
    </section>
    <button class="cta-btn" (click)="isAddReviewShown = !isAddReviewShown">Add Review</button>
    <div (click)="closeModal($event)" class="modal-wrapper" *ngIf="isAddReviewShown">
    </div>
    <div class="add-review-box">
        <add-review *ngIf="isAddReviewShown" (addReview)="addReview($event)" (closeModal)="closeModal()"></add-review>
    </div>
    <div *ngIf="toy.reviews">
        <show-review [reviews]="toy.reviews"></show-review>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>