.reviews-container{
    margin: 10px auto;
    padding: 0 15px;

    .review-preview{
        
        
        .review-top{
            max-width: 260px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin: 0;
            }
        }

        .review-buttom{

            .date{
                font-size: 12px;
            }

            p{
                margin-bottom: 4px;
            }
        }
    }
}