<div class="toy-edit">
    <h3>{{toy.id? 'Edit Toy': 'Add Toy'}}</h3>
    <form #form="ngForm" (ngSubmit)="onSaveToy(form.value)" class="simple-form">
    <input #nameInput="ngModel" required type="text" placeholder="Name" [ngModel]="toy.name" name="name">
    <textarea type="text" placeholder="Description" [ngModel]="toy.description" name="description"></textarea>
    <input required type="number" placeholder="price" [ngModel]="toy.price" name="price">
    <label for="inStock">
      In Stock
      <input type="checkbox" id="inStock" [ngModel]="toy.inStock" name="inStock">
    </label>
    <p class="form-errors">{{(form.touched && form.invalid)? 'Must fill name and price!':''}}</p>
    <button class="cta-btn">Save</button>
</form></div>
