.wish-list-modal{

    .btn-modal{
        position: absolute;
        top: 10%;
        right: 2%;
        background-color: unset;
        border: none;
        outline: none;

        img{
            width: 34px;
            object-fit: contain;

            &:hover{
                transform: scale(1.05);
            }
        }

        .wish-list-length{
            position: absolute;
            top: -7px;
            right: -3px;
        }
    }

    .modal-body{
        .wish-list-preview{
            display: flex;
            align-items: flex-start;
            margin-bottom: 5px;
        }

    }

    .sum-toys{
        width: 19px;
        text-align: center;
        height: 19px;
        line-height: 18px;
        border-radius: 50%;
        font-size: 14px;
        background-color: #ff5d83;
        color: white;
        top: 2px;
        right: 4px;
        position: absolute;
    }

}